.inherit {
   display: inherit;
}

.text-clip {
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.show {
   z-index: 1000;
   opacity: 1;
   visibility: visible;
   left: 0;
}

.not-visible {
   z-index: -1;
   visibility: hidden;
   opacity: 0;
}

.is-visible {
   z-index: 1;
   visibility: visible;
   opacity: 1;
}

.rm-scrollbar::-webkit-scrollbar {
   display: none !important;
}

.mk-scrollbar {
   &::-webkit-scrollbar {
      width: 0.7rem !important;
      height: 0.7rem !important;
   }

   &::-webkit-scrollbar-thumb {
      background: var(--elusive-blue) !important;
      border-radius: 100vw !important;
   }

   &&::-webkit-scrollbar-thumb:hover {
      cursor: pointer !important;
   }

   &::-webkit-scrollbar-track {
      background-color: var(--custom-bg-charcoal) !important;
      border-radius: 100vw !important;
      margin-inline: 0 !important;
   }
}

.skeleton-loading {
   border-radius: 0.7rem;
   opacity: 0.7;
   animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.spinner {
   border: 5px solid var(--blue);
   border-top: 5px solid transparent;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 1s linear infinite;
   margin: 100px auto;
}

.fade-in {
   animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: scale(0.95);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes skeleton-loading {
   0% {
      background-color: hsl(220, 8%, 30%);
   }
   100% {
      background-color: hsl(220, 8%, 25%);
   }
}
